<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleContent", false)</title>
    
    @RenderSection("HeaderSection", false)
    <link href="~/Stylesheet/MyLayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function () {
        $(".login").click(function () {
            $("#SignUp").hide();
            $("#Login").show();
        });
        $(".signUp").click(function () {
            $("#Login").hide();
            $("#SignUp").show();
        });
        
        //$("#btnCarSearch").click(function () {
        //    $("#CarSearch").hide();
        //    $("#SearchResults").show();
        //});
       
    });
    function GetOtherCarInfo(_make) {
        //var promessage ="<option value ='0'>Please wait...</option>";
        // $("#").html(promessage).show();
        var url = "http://localhost:50664/Cars/CarModelInfo";
        $.ajax({
            url: url,
            data: { value: _make },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Model</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Text + ">" + data[x].Text + "</option>";
                }
                $("#ddlModel").html(markup).show();
            },
            error: function (response) {
                alert("error : " + response);
            }
        });
    }

    function GetCarInfo(_make) {
        alert("fbxcvhdhf");
        //var promessage ="<option value ='0'>Please wait...</option>";
        // $("#").html(promessage).show();
        var url = "http://localhost:50664/Admin/CarModel";
        $.ajax({
            url: url,
            data: { value: _make },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Model</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Text + ">" + data[x].Text + "</option>";
                }
                $("#ddlModel2").html(markup).show();
            },
            error: function (response) {
                alert("error : " + response);
            }
        });
    }
    function GetOtherCarInfo1(_make) {
        //var promessage ="<option value ='0'>Please wait...</option>";
        // $("#").html(promessage).show();
        var url = "http://localhost:50664/Cars/CarYearInfo";
        $.ajax({
            url: url,
            data: { value: _make },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Year</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Text + ">" + data[x].Text + "</option>";
                }
                $("#ddlYear").html(markup).show();
            },
            error: function (response) {
                alert("error : " + response);
            }
        });
    }
    function GetOtherCarInfo2(_make) {
        //var promessage ="<option value ='0'>Please wait...</option>";
        // $("#").html(promessage).show();
        var url = "http://localhost:50664/Cars/CarPriceInfo";
        $.ajax({
            url: url,
            data: { value: _make },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Price</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Text + ">" + data[x].Text + "</option>";
                }
                $("#ddlPrice").html(markup).show();
            },
            error: function (response) {
                alert("error : " + response);
            }
        });
    }

    function GetServiceCat(_cat) {
        //var promessage ="<option value ='0'>Please wait...</option>";
        // $("#").html(promessage).show();
        var url = "http://localhost:50664/CarService/ServiceCat";
        $.ajax({
            url: url,
            data: {value:_cat },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select Service</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Text + ">\"" + data[x].Text + "\"</option>";
                }
                $("#ddlService").html(markup).show();
            },
            error: function (response) {
                alert(_cat);
                alert("error : " + response);
            }
        });
    }
    </script>
    <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
    </script>

    </head>
    <body>

        @Html.Partial("Header")
        <div>
            @RenderSection("ContentBody", false)

        </div>
        @Html.Partial("Footer")
    </body>
    </html>
